/* App.css */

.welcome-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .getmax-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .outer_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid blueviolet;
    width: 500px;
    height: 500px; 
    border-radius: 375px; 
    padding: 50px;
    margin-top: 20px;
  }
  
  .inner_circle {
    background-color: blueviolet;
    width: 400px; 
    height: 350px; 
    border-radius: 50%;
    padding: 10px;
  }
  .house{
   transform: translate(39%,20%);
  }
  .transparent{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }
  