
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*Main-page*/
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 100px;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.top-left {
  border-width: 0 25vw 25vh 0;
  border-color: transparent rgb(141, 0, 249) transparent transparent;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scaleX(-1) rotate(0deg);
  position: absolute;
  
}

.bottom-right {
  border-width: 18vw 0 0 20vh;
  border-color: transparent transparent transparent rgb(141, 0, 249);
  bottom: 0;
  right: 0;
  transform: rotate(-90deg);
  position: absolute;
  z-index: 2; 
  
}

.bottom-right-rectangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px; 
  height: 235px; 
  background-color:  rgb(63, 2, 110);
  z-index: 1; 
  position: absolute;
  transform: rotate(-99deg);
  
}

.content {
  flex: 1;
  padding: 20px;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 20px;
}

.absolute {
  position: absolute;
}


.image {
  flex: 1;
  padding: 20px;
}

img {
  max-width: 100%;
  height: 300px;;
  
}

.b {
  background-color: rgb(141, 0, 249);
  font-size: 15px;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 30px;
  border-color: rgb(141, 0, 249);

}

.g {
 font-size: 40px;
}

.pr {
  font-size: 40px;
  color: blueviolet;
  font-weight: 500;
}

.built{
  font-size: 50px;
  font-weight: 500;

}

.teams{
  color: blueviolet;
}


.dark-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 24vw 20vh 0;
  border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
  top: 0;
  left: 0;
  transform: scaleX(-1) rotate(0deg);
  position: absolute;
  z-index: 2; 
}
