/* Card.css */
.cardhex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 11rem; 
  height: 10rem; 
  border-radius: 0.5rem;
  margin: 2rem 3rem; 
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.386));
  overflow: hidden;
}

.card-imagehex {
  width: 6rem; 
  height: 5rem; 
}
