/* Card.css */
.cardhex {
   width: 100px; 
    height: 100px;
    border-radius: 8px;
    margin: 50px;
    /*overflow: hidden; */
  }
  
  .card-imagehex {
    width: 200px;
    height: 100px;
    border-radius: 8px;
    filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.386));
    /*object-fit: cover;*/ 
  }