@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300;400;500;600;700&family=Work+Sans&display=swap');

.Topic{
    margin-left: 50px;
}

.dropdown{
    width: 102%;
    }


.search-box-container {
    display: flex;
    align-items: center; 
    top:0;
    right: 0;
    padding: 10px;
    z-index: 999; 
    margin-top: -35px;
  }
  
  #searchInput {
    width: 300px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 750px;
    
  }
  

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
  }
  
  .card-wrapper {
    width: 100%; 
  }
  
  .card {
    
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-left: 5ex;
    margin-right: 5ex;
    margin-bottom: 20px;
    margin-top: 17ex;
    width: 85%;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  

  .white-space {
    height: 150px; 
  }
  .user-icon {
    margin-right: 10px;
  }
  
  .user-name {
  font-weight: bold;
}

.card-date {
  color: #888;
}
  
.shares {
  color: #888;
}

  .card-body {
    margin-top: 10px;
  }


.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
  .learn-more {
    background-color: #007BFF; 
    color: rgb(243, 43, 43);
    padding: 5px 10px;
    font-size: 14px;
    border:#888;
    cursor: pointer;
  }


  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  .title-img {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
  }

  .title-image {
    border-radius: 10px;
    text-align: center;
    margin-left:5ex;
    margin-right: 5ex;
    margin-bottom: 5ex;
  }

  .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .image-overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .image-overlay p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .read-button {
    background-color: #fcfeff; 
    color: rgb(7, 37, 85);
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
 
.search-container {
    display: flex;
    align-items: center;
    margin-top: -10px;
    
  }
  
  
  .icon {
    margin-right: 5px; 
  }
  

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
}

.load-more-button {
  background-color: #0779f2;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

 .para p{
  font-size:25px;
  color: blue;
 } 
  
  
 
  
  
  